
{

    margin:0;
    padding: 0
}
.contianer{
 height: 100vh;
 width: 100%
 background-image; url (Luxury-house-and-garden.jpg);
 background-position: center;
 background-size: cover;
 padding-left: 5%
 padding-right; 5%
box sizing: border-box;
 position: relative;
 
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(173, 173, 173);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(243, 243, 243);
    color: rgb(87, 83, 83);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9a9a9a;
    color: white;
  }
  
.content h1{
    font-size: 40px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0) ;
}

.content p{
    font-size: 20px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0) ;
    background-color: ;
   
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
      text-decoration: none;

  
  
}

img {
    opacity: 4.5;
  }